@font-face
{
    font-family: segoeuil;
    src: url(fonts/segoeuil.woff);
    font-weight: normal;
    font-style: normal;

}
@font-face
{
    font-family: segoeuib;
    src: url(fonts/segoeuib.woff);
}

@font-face
{
    font-family: segoeui;
    src: url(fonts/segoeui.woff);
    font-weight: normal;
    font-style: normal;

}

body
{
    color: #222;
    font-family: segoeuil, "Segoe UI" , Helvetica, sans-serif;
    cursor: default;
    padding: 2em;
    margin: 0;
    font-weight: lighter;
    font-size: 13pt;
    line-height: 1.7em;
    left: 0%;
}


div#effect-layer
{
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0; /*background: -webkit-linear-gradient(left, #777, #444);*/
    background-image: -moz-linear-gradient(left , #222 8%, #888 100%);
}

p
{
    margin-top: 0.7em;
}

a
{
    color: inherit;
    text-decoration: none;
}

p a
{
    font-weight: bold;
}

input[type="submit"]
{
    width: 100px !important;
    border: 2px solid #666;
    padding: 5px;
    background-color: white;
}

h1, h2, h3
{
    font-family: segoeuil;
    text-transform: lowercase;
    font-weight: normal;
}

h1
{
    font-size: 2.5em;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.2em;
}

img
{
    border: 0;
}


header
{
    margin-bottom: 1.5em;
}

#main-navigation ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
}

#main-navigation li
{
    display: inline;
}

#main-navigation h1
{
    display: inline;
    padding-right: 0.7em;
    font-weight: lighter;
    color: #999;
    padding-top: 0;
    margin-top: 0;
}

#main-navigation h1:hover
{
    color: #555;
}


.active
{
    font-weight: bold;
}

textarea
{
    width: 75%;
}

pre
{
    font-family: Consolas;
}


input, textarea
{
    display: block;
    padding: 10px;
    border: 0;
    font-family: segoeui;
}

#contact-form input, #contact-form textarea
{
    width: 250px;
}

#contact-form ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contact-form ul li
{
    margin-bottom: 20px;
}

ul.tab-header
{
    list-style-type: none;
    padding: 0;
    margin: 10px 30px 0 0;
}

ul.tab-header li
{
    display: inline;
    margin-right: 30px;
}

ul.tab-header h2
{
    display: inline;
    margin-right: 30px;
}

.tab-container section
{
    display: none;
}

ul.tab-header a
{
    font-weight: normal;
    color: #AAA !important;
}

ul.tab-header a.active-tab-header
{
    color: white !important;
}

section.active-tab
{
    display: block;
}

div#error-notification
{
    cursor: pointer;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

div#error-notification p
{
    margin-left: 20px;
    margin-top: 20px;
}

div.validation-summary-errors
{
}

div.validation-summary-errors ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.profile-widget
{
    width: 300px;
    height: 150px;
    max-height: 150px;
    max-width: 300px;
    overflow: hidden;
}

.slideable > *
{
    left: -20%;
    opacity: 0;
    position: relative;
}

a#back-arrow
{
    background-image: url(images/back-arrow.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    left: 10px;
    top: -35px;
}

a#back-arrow
{
    background-image: url(images/back-arrow-no-hover.png);
}


a#back-arrow:hover
{
    background-image: url(images/back-arrow.png);
}

body.admin
{
    background-color: #000;
    color: White;
}

span.image-caption
{
    font-style: italic;
    display: block;
}

div.image-container div
{
    float: left;
}