@{
    ViewBag.Title = "Index";
}
<div class="about-sections">
    <section title="me">
        <p>
            I'm Julian Rooze and I'm a software developer living in the Netherlands. Being a
            software developer, I write software for a living but as I suffer from the affliction
            of actually <em>liking</em> software development, I do it as a hobby as well.
        </p>
        <p>
        </p>
    </section>
    <section title="education">
    </section>
    <section title="work">
    </section>
    <section title="hobbies">
    </section>
</div>
<script type="text/javascript">
    $('div.about-sections').createTabs();
</script>
