@model Julian.Me.Web.Models.ThisMemberIndexModel

@{
    ViewBag.Title = "ThisMember";
    
}

<style type="text/css">

body
{
  color: White;
  background-color: #3FA2FF;
}

a
{
  color: White;
}

.active
{
  color: #BFE1FF !important;
}

</style>

@if (Julian.Me.Web.Security.Client.User != null && Julian.Me.Web.Security.Client.User.IsAdmin)
{ 
  <a id="thismember-edit-index"></a>
}
<div id="thismember-content-index">
@(new HtmlString(Model.Content))
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")"></script>

<script type="text/javascript">

  $(function () {

    $('#thismember-content-index').html('<textarea>' + $('#thismember-content-index').html() +'</textarea>');

    tinyMCE.init({
      // General options
      mode: "textareas",
      theme: "advanced",
      plugins : "syntaxhl", 
      theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code, syntaxhl"
    });


  });
</script>